<table id="best-sellers-datatable" class="table table-striped table-hover table-bordered" data-source="<%= best_sellers_url(format: "json") %>">
  <thead>
  <tr>
    <th><%= t 'activerecord.attributes.best_sellers.book_image' %></th>
    <th><%= t 'activerecord.attributes.best_sellers.title' %></th>
    <th><%= t 'activerecord.attributes.best_sellers.author' %></th>
    <th><%= t 'activerecord.attributes.best_sellers.description' %></th>
    <th><%= t 'activerecord.attributes.best_sellers.best_seller_list' %></th>
    <th><%= t 'activerecord.attributes.best_sellers.amazon_product_url' %></th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>
